$icomoon-font-family: 'synthetix' !default;
$icomoon-font-path: '.' !default;

$synthetix-Archive: '\e900';
$synthetix-Bell: '\e901';
$synthetix-Bin: '\e902';
$synthetix-Bottom-2: '\e903';
$synthetix-Bottom-3: '\e904';
$synthetix-Bottom: '\e905';
$synthetix-Burger-indent: '\e906';
$synthetix-Burger: '\e907';
$synthetix-Burn: '\e908';
$synthetix-Caution: '\e909';
$synthetix-Chart: '\e90a';
$synthetix-Clock: '\e90b';
$synthetix-Collapse: '\e90c';
$synthetix-Comment: '\e90d';
$synthetix-Copy: '\e90e';
$synthetix-Dashboard: '\e90f';
$synthetix-Earn: '\e910';
$synthetix-Edit: '\e911';
$synthetix-Exit: '\e912';
$synthetix-Expand: '\e913';
$synthetix-Filter: '\e914';
$synthetix-Governance: '\e915';
$synthetix-Grid: '\e916';
$synthetix-Heart: '\e917';
$synthetix-Horizontal: '\e918';
$synthetix-Image: '\e919';
$synthetix-Left-2: '\e91a';
$synthetix-Left-3: '\e91b';
$synthetix-Left-4: '\e91c';
$synthetix-Left: '\e91d';
$synthetix-Link-off: '\e91e';
$synthetix-List: '\e91f';
$synthetix-Megaphone: '\e920';
$synthetix-Mint: '\e921';
$synthetix-Minus: '\e922';
$synthetix-Open-in-new: '\e923';
$synthetix-Plus: '\e924';
$synthetix-Right-2: '\e925';
$synthetix-Right-3: '\e926';
$synthetix-Right-4: '\e927';
$synthetix-Right: '\e928';
$synthetix-rocket: '\e929';
$synthetix-Search: '\e92a';
$synthetix-Settings: '\e92b';
$synthetix-Small-Cross: '\e92c';
$synthetix-Small-Plus: '\e92d';
$synthetix-Sort: '\e92e';
$synthetix-Stake: '\e92f';
$synthetix-Switch: '\e930';
$synthetix-Tick: '\e931';
$synthetix-Top-2: '\e932';
$synthetix-Top-3: '\e933';
$synthetix-Top: '\e934';
$synthetix-Vertical: '\e936';
$synthetix-Vote: '\e937';
$synthetix-Wallet: '\e938';
