build
coverage
node_modules
dist
.vscode
.yarn
packages/queries/subgraphs
.docusaurus
**/tmp/
**/.next/
**/out/
**/storybook-static/
**/.nyc_output
**/junit.xml
**/generated


# temporary
v3/spot-markets/ui/prototype
