build
coverage
node_modules
dist
.vscode
.yarn
packages/queries/subgraphs
.docusaurus
**/tmp/
**/.next/
**/out/
**/storybook-static/
**/.nyc_output
**/junit.xml
**/generated
tools/tenderly/fork.json
v2/perps-v2/ui/src/__generated__