**/node_modules

**/build
**/dist

# testing
**/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

logs
*.log
npm-debug.log*
.npm

*.tgz
.nyc_output
lib-cov

pids
*.pid
*.seed
*.pid.lockpids
*.pid
*.seed
*.pid.lock

.vscode

/build/stats.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.yarn/versions

**/artifacts
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules
**/storybook-static

staged-txns.txt

tsconfig.tsbuildinfo

junit.xml
