**/node_modules

**/build
**/dist

# testing
**/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

logs
*.log
npm-debug.log*
.npm

*.tgz
.nyc_output
lib-cov

pids
*.pid
*.seed
*.pid.lockpids
*.pid
*.seed
*.pid.lock

.vscode

/build/stats.json

generated

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.yarn/versions
# For Yarn Zero Installs uncomment this line and keep deps in GIT
# !.yarn/cache

**/artifacts
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules

staged-txns.txt
