build
coverage
node_modules
dist
.vscode
.yarn
packages/queries/subgraphs
cache
artifacts
.docusaurus
v3/contracts/src
v3/contracts/deployments
**/tmp/
**/.next/
**/out/
**/storybook-static/
**/.nyc_output
**/junit.xml
tools/tenderly/fork.json
