.notifi-unread-counter {
  position: absolute;
  top: 0.2rem;
  bottom: 0;
  left: 1.2rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: #000;
  text-align: center;
  width: 1.05rem;
  height: 1.05rem;
  background-color: #82f7c5;
  border-radius: 50px;
}
