html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  overflow-x: hidden;
  color: var(--color-black-600);

  html.ui-dark & {
    color: var(--color-black-100);
    background-color: var(--color-black-600);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 5rem white inset;
  html.ui-dark & {
    caret-color: white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 5rem var(--color-black-600) inset;
  }
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* scrollbar style */
/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-black-100);
  html.ui-dark & {
    background: var(--color-black-400);
  }
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-yellow-700);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow-600);
}
