.ui-dialog-enter {
  opacity: 0.01;
}
.ui-dialog-enter.ui-dialog-enter-active {
  opacity: 1;
  transition: opacity 120ms ease-in;
}
.ui-dialog-exit {
  opacity: 1;
}
.ui-dialog-exit.ui-dialog-exit-active {
  opacity: 0.01;
  transition: opacity 120ms ease-in;
}