@use "sass:map";
@import "~/styles/variables";

// use below syntax to access breakpoint variables in js files
// import breakpoints from "~/styles/exports/breakpoints.module.scss";

:export {
  sm: map.get($break-points, "sm");
  md: map.get($break-points, "md");
  lg: map.get($break-points, "lg");
  xl: map.get($break-points, "xl");
  xl2: map.get($break-points, "2xl");
}
