// use below syntax to access color variables in js files
// import colors from "~/styles/exports/variables.module.scss";

:export {
  colorYellow700: var(--color-yellow-700);
  colorYellow600: var(--color-yellow-600);
  colorYellow500: var(--color-yellow-500);
  colorYellow400: var(--color-yellow-400);
  colorYellow300: var(--color-yellow-300);
  colorYellow200: var(--color-yellow-200);
  colorYellow100: var(--color-yellow-100);

  colorBlack700: var(--color-black-700);
  colorBlack600: var(--color-black-600);
  colorBlack500: var(--color-black-500);
  colorBlack400: var(--color-black-400);
  colorBlack300: var(--color-black-300);
  colorBlack200: var(--color-black-200);
  colorBlack100: var(--color-black-100);

  colorRed700: var(--color-red-700);
  colorRed600: var(--color-red-600);
  colorRed500: var(--color-red-500);
  colorRed400: var(--color-red-400);
  colorRed300: var(--color-red-300);
  colorRed200: var(--color-red-200);
  colorRed100: var(--color-red-100);

  colorGreen700: var(--color-green-700);
  colorGreen600: var(--color-green-600);
  colorGreen500: var(--color-green-500);
  colorGreen400: var(--color-green-400);
  colorGreen300: var(--color-green-300);
  colorGreen200: var(--color-green-200);
  colorGreen100: var(--color-green-100);
}
