name: Main Workflow
on:
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test-all

      # publish
      - run: git config --global user.email "ci@cc.snxdao.io" && git config --global user.name "Synthetix CI"
      - run: git fetch origin ${{ github.head_ref }}
      - run: echo $(git rev-parse --short origin/${{ github.head_ref }})
      - run: npm --workspaces version 0.0.0-$(git rev-parse --short origin/${{ github.head_ref }})
      - run: npm --workspaces publish --tag dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
