name: Publish Library

on:
  workflow_dispatch:
    inputs:
      synthetix_version:
        description: 'Upstream `synthetix` repo version (leave empty if no update)'
        required: false
      monorepo_version:
        description: 'New Monorepo Version (ex. 2.50.0-alpha) (leave empty to "patch")'
        required: false

jobs:
  update_version:
    name: Update synthetix in contracts-interface
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - name: resolve version
        run: |
          export theversion="patch"
          if [ -n "${{ github.event.inputs.monorepo_version }}" ]; then export theversion="${{ github.event.inputs.monorepo_version }}"; fi
          echo "Resolved version $theversion"
          echo "new_version=$theversion" >> $GITHUB_ENV
      - name: config git identity
        run: git config --global user.email "ci@cc.snxdao.io" && git config --global user.name "Synthetix CI"
      - name: Update  @synthetixio/contracts-interface
        if: github.event.inputs.synthetix_version
        run: |
          echo "Update @synthetixio/contracts-interface with synthetix@${{ github.event.inputs.synthetix_version }}"
          cd packages/contracts-interface && npm install synthetix@${{ github.event.inputs.synthetix_version }} --save-exact
          git commit -am "synthetix@${{ github.event.inputs.synthetix_version }}"
      - name: Lints and build
        run: |
          npm ci
          npm run bootstrap
          npm run lint
          npm run build
          npm run test-all
      - name: Update packages version
        run: |
          lerna version ${{ env.new_version }} --exact --yes
          echo "resolved_version=$(jq -r .version < lerna.json)" >> $GITHUB_ENV
      - name: Publish packages
        run: lerna publish from-package --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Push changes
        run: git push
      - name: Notify dApps
        run: |
          curl -H "Authorization: token ${{ secrets.GH_TOKEN_DAPPS }}" --request POST --data "{\"event_type\": \"update-dependency\", \"client_payload\": {\"version\": \"${{ env.resolved_version }}\"}}" https://api.github.com/repos/Synthetixio/staking/dispatches
          curl -H "Authorization: token ${{ secrets.GH_TOKEN_DAPPS }}" --request POST --data "{\"event_type\": \"update-dependency\", \"client_payload\": {\"version\": \"${{ env.resolved_version }}\"}}" https://api.github.com/repos/Kwenta/kwenta/dispatches
          curl -H "Authorization: token ${{ secrets.GH_TOKEN_DAPPS }}" --request POST --data "{\"event_type\": \"update-dependency\", \"client_payload\": {\"version\": \"${{ env.resolved_version }}\"}}" https://api.github.com/repos/Kwenta/kwenta-api/dispatches

